html, body {
	height: 100vh;

  margin: 0; padding: 0;
}

body {
	background-color: #fbfbfb;
	color: #000;

  font-family: 'PT Sans', sans-serif;

  max-width: 100%;
  padding: 0;

	position: relative;

	-webkit-text-size-adjust: none;
  overflow-x: hidden;
}

.site {
  height: 100vh;

  margin: 0 auto;
}

.site__wrapper {
  position: relative;
  overflow: scroll;

  width: 100%
}

.site__canvas {
  backface-visibility: hidden;

  height: 100vh;

  position: relative;

  width: 100%;

  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all
}

.site__canvas--active {
  transform: translateX(300px);
  transform: translate3d(300px, 0, 0)
}

.site__navMenu {
  background: #eaeaea;
  box-sizing: border-box;
  color: #1a0808;
  display: grid;
  grid-template-rows: 50px 1fr 1fr;

  height: 100%;

  left: -300px;
  padding: 45px 15px;
  position: absolute;
  top: 0;

  width: 300px
}

ul li {
  list-style: none;
  margin: 0; padding: 0
}

li a {
  color: #333;

  font-size: 2.4rem;

  text-decoration: none
}

.site__content {
  position: relative
}

.close__canvas {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  display: none;

  height: 100%;

  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  width: 100%
}

.close__canvas--active {
  display: block
}

.header {
  align-items: center;
  display: flex;

  height: 120px;

  padding: 15px;
  position: relative;

  justify-content: space-between
}

.header a {
  color: #190808;
  text-decoration: none
}

.toggle__nav {
  font-size: 10rem;

  left: 1.5rem;
  margin-top: -6rem;
  position: absolute;
  top: 50%
}

h1, h2 {
  color: #1a0808;
  font-size: 3rem;

  margin: 0; padding: 0;
  text-align: center
}

.content {
  margin-bottom: 20%;
  padding: 15px
}


section {
  display: grid;
  grid-gap: 40px;

  @media screen and (max-width: 300px) {
    section {
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    section {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr
    }
  }
}

.panel {
  background-color: #FFF;
  border-radius: 0;
  box-shadow: 0 4px 20px #d4d1d1b3;
  box-sizing: content-box;
  display: grid;

  grid-template-rows: 1fr auto auto;
  grid-gap: 10px;

  padding: 30px;
}

.panel .img__panel {
    overflow: hidden;
}

.panel img {
  background-color: #eaeaea;
  background-size: cover;
  width: 100%;
}

.panel h1 {
  font-size: 3rem;

  margin: 0;

  text-align: left;
}

.panel p {
  font-size: 2rem;
    margin: 0;
}
